<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Movie List</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}stylesheets/imdb.css" >
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script>
        $(document).ready(
            function() {
                $("table#movies").tablesorter({ sortList: [[1,0]] });
            }
        );
    </script>

</head>
<body>
Table of Movies:
<br />
    <table id="movies" class="bordered-table zebra-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Summary</th>
                <th>Year</th>
                <th>File Path</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td><img src="{{ movie.image_url }}"/></td>
                <td><a href="{{ movie.imdb_url}}">{{ movie.title }}</a></td>
                <td>{{ movie.rating }}</td>
                <td>{{ movie.summary }}</td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.folder_url }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>